@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Explore Our What You Like... <a asp-area="" asp-controller="Product" asp-action="SearchForm">Search</a></p>
</div>

<div class="col-1 center-block">
    <img src="https://media.istockphoto.com/photos/healthy-fresh-rainbow-colored-fruits-and-vegetables-in-a-row-picture-id1208790364?k=20&m=1208790364&s=612x612&w=0&h=EMmRWT5P5qbUvy95RxDtUSWrttlIsuXqjzRFhnTxqMQ=" alt="ProductImage" style="height:350px; width:1100px;" />
</div>